{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhes do Carro</title>
    <link rel="stylesheet" href="{% static 'CarsApp/css/estilo.css' %}">
</head>
<body>
    <!--
    Aqui vamos usar a variável carro criada no view.
    Essa variável é um objeto carro e tem as propriedades de um carro.
    -->
    <h1>Detalhes do Carro: {{ carro.name }}</h1>
    <ul>
        <li><strong>MPG:</strong> {{ carro.mpg }}</li>
        <li><strong>Cilindros:</strong> {{ carro.cyl }}</li>
        <li><strong>Disposição:</strong> {{ carro.disp }}</li>
        <li><strong>Potência:</strong> {{ carro.hp }}</li>
        <li><strong>Peso:</strong> {{ carro.wt }}</li>
        <li><strong>Aceleração:</strong> {{ carro.qsec }}</li>
        <li><strong>Câmbio:</strong> {{ carro.am }}</li>
        <li><strong>Marchas:</strong> {{ carro.gear }}</li>
    </ul>
    <a href="{% url 'CarsApp:home' %}">Voltar à lista de carros</a>
</body>
</html>
